nav, main, footer, header {
        max-width: 1200px;
        margin:auto;
}

/*----------- BODY --------------*/

.wrapper {
        width: 100%;
}


/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/
main #page-image {
        width: 40%;
}


/*----------- FOOTER --------------*/
    
